---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

$serif-font-family: "Crimson Pro", serif, $serif-font-family;
$title-font-family: "Playfair Display", serif, $title-font-family;
$sans-serif-font-family: "Open Sans Pro", "Lato", "Source Sans Pro", sans-serif;
$monospace-font-family: "Inconsolata", "Space Mono", "Source Code Pro", Menlo, Consolas, Monaco, "Courier New", Courier,
  monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $title-font-family;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $sans-serif-font-family;